<ion-modal-view>
  <ion-content>
    <i class="icon-right icon ion-close-round close-modal"
       ng-click="closeModal()"></i>
    <div class="search-header">
      <h2>Recherche</h2>
    </div>

    <div class="search-container">
      <i class="ion-ios-search-strong icon-search"></i>
      <input id="search" type="text" placeholder="   Rechercher un Lieu..." class="quicksearch-bar">
    </div>

    <div class="form-container">
      <h3>Date</h3>
      <div>
        <span>Du</span>
        <input type="date" placeholder="Du">
      </div>
      <div>
        <span>au</span>
        <input type="date" placeholder="au">

      </div>
    </div>
  </ion-content>
</ion-modal-view>
