<ion-view>
  <ion-content direction="xy">


    <div class="concert-background">

      <span ng-click="myGoBack()" class="ion-ios-arrow-left white"></span>
      <div class="rightheader" style="color: #FFFFFF;">

        <h1>{{title}}</h1>
        <p class = "left"> <strong> {{date.slice(0,15)}} </strong>  </p>
        <br><br>
        <p class = "left"> <span class="ion-location"> </span> &nbsp <strong> {{location}} </strong>  </p>

      </div>

      <br> <br>
      <br> <br>
      <button id="page-button2" class="button button-planning"
              ng-click="addPlanning(date.yyyymmdd(), location, title, cdeprog, null, item)"
              ng-show="!isInPlanning(cdeprog,null)" style="margin-left: 5%">
        Ajouter à mon planning
      </button>
      <button class="button button-planning"
              ng-click="removePlanning(cdeprog,null)"
              ng-show="isInPlanning(cdeprog,null)" style="margin-left: 5%">
        Retirer de mon planning
      </button>
      </br> </br>
    </div>


    <ion-list>
      <ion-item class="item-divider">Au programme du concert</ion-item>
      <p ng-show="noProgram" style="text-align:center; padding-top:50px;" class="lighter">No program available</p>
      <ion-spinner style="padding-left: 50%;" ng-show="charging" icon="spiral"></ion-spinner>
    </ion-list>
    <ion-list ng-repeat="object in setList" id="page-list2">
      <ion-item id="page-list-item4">
        <i class="ion-ios-star star" ng-click= "delFavorites(object.iswc, object.title)"
           ng-show="isLiked(object.iswc) && object.isInfo"></i>

        <i ng-click= "addFavorites(object.iswc, object.title)"
           class="ion-ios-star-outline star" ng-show="!isLiked(object.iswc) && object.isInfo"></i>

        <i id="info" class="info ion-ios-information-outline"  ng-show="object.isInfo"></i>

        <div  id="link" class="elipse" ui-sref= "tab.musique({iswc: object.iswc, title:object.title})" ng-if="object.isInfo">
          {{object.title}}
        </div>
        <div class="elipse" ng-if="!object.isInfo">
          {{object.title}}

        </div>
      </ion-item>
    </ion-list>

    <ion-list id="page-list3">
      <ion-item class="item-divider" id="page-list-item-divider2">Commentaires</ion-item>
    </ion-list>
    <div class="bottom-concert">
      <form name = commentForm>
        <input type="text" class="myform" placeholder="Rédigez votre commentaire..." ng-model="contentComment"></input>
        <span> <button class="position-button lighter" ng-click="submit(contentComment)"> Envoyer </button></span>
      </form>
    </div>
    <ion-list ng-repeat="comment in comments">
      <div class="comment"><span class="iconeperso">{{comment.sender.charAt(0).toUpperCase()}}</span> &nbsp <strong>{{comment.sender}} &nbsp </strong> <span class="lighter">{{comment.date|date:'medium'}}</span>
        </br> </br>
        <p> {{comment.content}} </p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
