<ion-view can-swipe-back="false">
  <ion-content>
    <div class="big-header">
      <div>
      <span class="ion-ios-arrow-left" ng-click="myGoBack()"></span>
      </div>
      <div class="monplanning">
      <h3>Mon planning</h3>
      </div>
      <label class="item item-input month-select">
        <input type="month" ng-model="month" required>
      </label>

    </div>
    <ion-scroll>
      <ion-item class="item-divider">{{monthNames[month.getMonth()]}}</ion-item>

      <ion-item ng-repeat="item in results"
                class="concertbackground" ng-show="(item.prog_date.getMonth() == month.getMonth()) && (item.prog_date.getFullYear()== month.getFullYear()) &&isInPlanning(item.cdeprog, item.id_bit)">
        <p>
        <h3>{{item.title}}</h3><span class="right">      {{item.prog_date.toLocaleDateString()}}</span></p>
        <p>{{item.location}}</p>
        <div>
          <button id="page-button1" class="button button-planning" ng-show = "!item.id_bit" ui-sref="tab.concertHome({cdeprog: item.cdeprog, title:item.title ,date:item.prog_date,location:item.location})">
            Programme
          </button>
          <button id="page-button2" class="button button-planning"
                  ng-click="removePlanning(item.cdeprog, item.id_bit)"
                  style="margin-left: 5%">
            Retirer du planning
          </button>
        </div>
      </ion-item>
    </ion-scroll>
  </ion-content>
</ion-view>
