

<ion-content direction="xy">




  <div class="concert-background">

    <span class="ion-chevron-left"></span>
    <div class="rightheader" style="color: #FFFFFF;">

          <h1>{{name}}</h1>
      <p> {{date}} </br> {{time}}
        </br></br>
      <span class="ion-location"> </span>
      <p>  &nbsp  <strong> {{place}} </strong>  </br> {{adress}}</p>

    </div>


        </br> </br>
    <a  href="#/tab/artist" id="concert-button1" style="font-weight:lighter;font-size:-15px;border-radius:200px 200px 200px 200px;" class="button button-light button-medium button-outline">Ajouter à mon planning</a>

        <span class="ion-ios-star-outline" </span>

        </br> </br>
  </div>



  <ion-list>
    <ion-item class="item-divider">Titres</ion-item>
  </ion-list>
  <ion-list ng-repeat="titre in titres" id="page-list2">
    <ion-item id="page-list-item4">{{titre.title}} {{titre.author}} {{titre.album}}<i id="liked" class="star" ng-class="{'ion-ios-star': liked, 'ion-ios-star-outline': !liked}" ng-click="liked=!liked"></i></ion-item>
  </ion-list>
  <ion-list id="page-list3">
    <ion-item class="item-divider" id="page-list-item-divider2">Commentaires</ion-item>
  </ion-list>
  <ion-list ng-repeat="comment in comments" id="page-list4">
    <ion-item> <span class="iconeperso">{{comment.sender.charAt(0).toUpperCase()}}</span> &nbsp  <strong>{{comment.sender}} &nbsp </strong> <span class="lighter">{{comment.date}}</span>
      </br> </br>  {{comment.content}}</ion-item>
  </ion-list>

<div class="bottom-concert">
    <input type="text" class="myform" placeholder="Rédigez votre commentaire...">
    <span > <button class="position-button lighter"> Envoyer </button></span>


</div>
</ion-content>
