<ion-scroll  cache-view="false">
    <form>
      <div style="padding-top:20px;">
      <div class="quick-search-container">
        <input name="search" type="text" placeholder="Rechercher un lieu..." class="quicksearch-bar" ng-model = "locationString" ng-focus="geolocationOff(geolocation)">
        <i class="ion-ios-search-strong"></i>
      </div>
      </div>
      <div style="padding-top:0px;">
      <div class="quick-search-container">
        <input style="width:100%;" name="search" type="text" placeholder="Rayon (km), par défaut 50" class="quicksearch-bar" ng-model = "radius">
      </div>
      </div>
      <div class ="form-container">

        <ul class="list" style="padding-right:10%;">

          <li class="item item-toggle">
         Me géolocaliser
            <label class="toggle toggle-assertive">
              <input type="checkbox" ng-init="geolocation=true" ng-model="geolocation">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </ul>
                <div>
                  <label style="border: none;" class="item item-input">
                    <span class="input-label">Du</span>
                  <input type="date" ng-model="start">
                  </label>
                </div>
                </br>
                <div>
                  <label style="border: none;" class="item item-input">
                    <span class="input-label">Au</span>
                  <input type="date" placeholder="optionnel" ng-model="end">
                  </label>

                </div>
              </div>
              <div class="quicksearch">
              <div >
              <div>
                <button ng-show="!charging" style="font-color:white;background-color:black;"class="button-container button button-validate" ng-click="search(locationString,geolocation,radius,start,end)">
                  Go !
                </button>

              </div>

              </div>
                </br></br>
                <ion-spinner style="padding-left: 50%; float: center;" ng-show="charging" icon="spiral"></ion-spinner>


              </div>

    </form>

</ion-scroll>
