<ion-content>

  <div class="row">
    <div class="col item">
      <div class="col search-container">
        <form>
        <div class="col div-search">
              <input  style="width:90%;" class="item item-input" type="text" placeholder="Quel morceau recherchez-vous?" ng-model="search">
        </div>
        <div class="large-select">
          <label class=" col item-select label-search">
            <select ng-model="filter" ng-init="all" class="input-search">
              <option value="all">tout</option>
              <option value="parties">Auteurs/Compositeurs</option>
              <option value="titles,subtitles">Chansons</option>
              <option value="performers">Interprètes</option>
            </select>
          </label>
        </div>
        <div class="button-search-container">
          <button  style="width:20%;" ng-click="submitSearch(search,filter, api)"  class="button button-stable">Track</button>

        </div>
        </form>
      </div>
    </div>
  </div>

  <ion-spinner style="padding-left: 50%;" ng-show="charging" icon="spiral"></ion-spinner>
  <p ng-show="!isSong && !charging" style="padding-left: 40%; padding-top:50px;" class="lighter">Aucun résultat</p>

  <div  ng-show="!charging && !isSearch" class="lighter" style="text-align: center;padding-top:50%;">

  Retrouvez vos morceaux favoris </br>
  Explorez les concerts où ils annoncés
    </br>
  </div>
  </br>
  <i ng-show="!charging && !isSearch" class="ion-search" style="text-align: center;color:grey;font-size:40px;padding-left:50%;"> </i>


  <ion-list ng-show="isSong">
      <ion-item ng-repeat="song in answer">

      <i class="ion-ios-star star" ng-click="delFavorites(song.iswc, song.title)"
         ng-show="isLiked(song.iswc) && song.isInfo"></i>

      <i ng-click="addFavorites(song.iswc, song.title)"
         class="ion-ios-star-outline star" ng-show="!isLiked(song.iswc) && song.isInfo"></i>

      <i id="info" class="info ion-ios-information-outline" ng-show="song.isInfo"></i>

      <div class="elipse" ui-sref="tab.musique({iswc: song.iswc, title:song.title})" ng-if="song.isInfo">
        {{song.title}}
      </div>
      <div class="elipse" ng-if="!song.isInfo">
        {{song.title}}
      </div>
    </ion-item>
  </ion-list>

  <button style="border:none;" ng-show="isPlus" class="button button-block button-light lighter" ng-click="printMore()">
    Afficher plus de résultats...
  </button>
</ion-content>

