<ion-view view-title="Dashboard" xmlns="http://www.w3.org/1999/html">
  <ion-content class="">
    <div id="map" data-tap-disabled="true"></div>

    <ion-spinner ng-show="!isConcertHome && charging" style="padding-left: 50%; float: center;" icon="spiral"></ion-spinner>
    <p ng-show="charging && !isConcertHome" style="text-align:center; padding-top:50px;" class="lighter">Que souhaitez-vous écouter aujourd'hui ?</p>


    <ion-item class="item item-divider" ng-show="isConcertHome">
        <p>{{concerts.length}} concerts autour de vous </p>

      <i class="ion-ios-search-strong icon-right" ng-click="openModal()" style="float: right; font-size: 130%"></i>




    </ion-item>
    <ion-item ng-repeat="item in concerts | limitTo:numLimit"
              ng-class-even="'concertbackground'" ng-class-odd="'concertbackground-odd'" ng-show="isConcertHome">
      <h2 class = "white">{{item.TITRPROG}}</h2>
      <p><span class="left"><strong>{{item.DATDBTDIF|date:'mediumDate':'+0000'}}</strong></span>
        <span class = "right">{{item.NOM}}</span> <span class = "right">{{item.ADR}} {{item.VILLE}}</span> </p>


      <div>
        <button id="page-button1" class="button button-planning" ui-sref="tab.concertHome({cdeprog: item.CDEPROG, title:item.TITRPROG,datedbt:item.DATDBTDIF,datefin:item.DATFINDIF,location:item.NOM+item.VILLE})">
          Lire plus
        </button>
        <button id="page-button2" class="button button-planning"
                ng-click="addPlanning(item.DATDBTDIF.yyyymmdd(), item.VILLE, item.TITRPROG, item.CDEPROG, item.id_bit, item); item.isInPlanning = true"
                ng-show="!item.isInPlanning" style="margin-left: 5%">
          Ajouter à mon planning
        </button>
        <button class="button button-planning"
                ng-click="removePlanning(item.CDEPROG, item.id_bit);item.isInPlanning = false"
                ng-show="item.isInPlanning" style="margin-left: 5%">
          Retirer de mon planning
        </button>
      </div>
    </ion-item>

    <button ng-show="isPlus" class="button button-block button-light lighter" ng-click="printMore()">Afficher plus de résultats... </button>

      <p ng-show="!charging && !isConcertHome" style="text-align:center; padding-top:50px;" class="lighter">Bienvenue sur Track&Go</p>

  </ion-content>
</ion-view>
