<ion-view view-title="Sign In">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="signin()">Sign in</button>
    <p style="text-align: center;"> Don't have an account ? </p>
    <p style="text-align: center;"><a ui-sref="tab.signup">Sign up here !</a></p>
  </ion-content>
</ion-view>
