<ion-view>



  <ion-content>


  <div class="artist-background">


  </div>

    <div class="special-artist-background">
      <span class="ion-ios-arrow-left" ng-click="myGoBack()"></span>

      <div class="rightheader" >

        <div class="titleBlack"> {{name}} </div>
        <div class="subtitleBlack lighter"> Author/Compositeur</div>


      </div>
    </div>

    <ion-list ng-show="isSong">
      <ion-item class="item-divider" id="page-list-item-divider1">Morceaux</ion-item>
      <ion-item ng-repeat="song in answer" ui-sref="tab.musique({iswc: song.iswc,title:song.title})">
        {{song.title}}
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
