<ion-view view-title="Account" xmlns="http://www.w3.org/1999/html">
  <ion-content padding="true" class="has-header">
    <div class="big-header">
      <h2 id="page-heading1" style="color:#000000;">{{name}}</h2>
      <div id="page-markdown1" style="color:#000000;">
        <p>2 concerts cette semaine</p>
      </div>
      <button id="page-button1" style="text-align:left;border-radius:42px 42px 42px 42px;"
              class="button button-positive  button-outline">Mon planning
      </button>
      <div id="page-button-bar1" class="button-bar"></div>
      <h2 id="page-heading3" style="color:#000000;">4</h2>
      <div id="page-markdown4" style="color:#000000;">
        <p>Auteurs suivi</p>
      </div>
      <h1 id="page-heading4" style="color:#000000;text-align:right;">13</h1>
      <div id="page-markdown6" style="color:#000000;text-align:right;">
        <p>Titres favoris</p>
      </div>
    </div>
    <ion-list id="page-list2">
      <ion-item class="item-divider" id="page-list-item-divider1">Auteur</ion-item>
      <ion-item id="page-list-item2">Item</ion-item>
      <ion-item id="page-list-item3">Item</ion-item>
      <ion-item id="page-list-item4">Item</ion-item>
    </ion-list>
    <ion-list id="page-list3">
      <ion-item class="item-divider" id="page-list-item-divider2">Titres</ion-item>
    </ion-list>
    <ion-list id="page-list4">
      <ion-item id="page-list-item5">Item 1</ion-item>
      <ion-item id="page-list-item6">Item 2</ion-item>
      <ion-item id="page-list-item7">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
