<ion-view>
  <ion-content>


  <div class="artist-background">


  </div>

    <div class="special-artist-background">
      <span class="ion-ios-arrow-left" ng-click="myGoBack()"></span>

      <div class="rightheader" >

        <div class="titleBlack"> {{name}} </div>
        <div class="subtitleBlack lighter"> Interprète</div>


      </div>
    </div>

    <ion-list ng-show="isSong">
      <ion-item class="item-divider" id="page-list-item-divider1">Morceaux</ion-item>
      <ion-item ng-repeat="song in answer.works | limitTo:numLimit">
        <i id="liked" class="star" ng-class="{'ion-ios-star': liked, 'ion-ios-star-outline': !liked}"
           ng-click="liked=!liked"></i> <i id="info" class="info ion-ios-information-outline"  ui-sref="tab.musique({iswc: song.iswc, title:song.title})" ng-show="song.isInfo"></i>
        <div  class="elipse">
          {{song.title}}
        </div>
      </ion-item>
    </ion-list>

    <button ng-show="isSong" class="button button-block button-light lighter" ng-click="printMore()">Afficher plus de résultats... </button>

    <ion-list>
      <ion-item class="item-divider" id="page-list-item-divider1">Concerts</ion-item>

      <ion-item ng-repeat="item in answer.concerts" item="item" class="concertbackground">
        <p><h3>{{item.title}}</h3><span class="right">{{item.datetime}}</span> </p>
        <p>{{item.venue}}</p>
        <div>
          <button id="page-button1" class="button button-planning" ng-click="goConcert()"> J'y vais !
          </button>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
