<ion-view view-title="Account" xmlns="http://www.w3.org/1999/html">
  <ion-content padding="true" class="has-header">
    <div class="big-header">
      <h2 id="page-heading1" ;">{{name}}</h2>
      <div id="page-markdown1" ;
      ">
      <p>2 concerts cette semaine</p>
    </div>
    <button id="page-button1" style="text-align:left;border-radius:42px 42px 42px 42px;"
            class="button button-positive  button-outline">Mon planning
    </button>
    <div>
      <h2 id="page-heading3">4</h2>
      <p>Auteurs suivi</p>
    </div>
    <div>
      <h1 id="page-heading4">13</h1>
      <p>Titres favoris</p>
    </div>
    </div>
    <ion-list>
      <ion-item class="item-divider">Auteur</ion-item>
    </ion-list>
    <ion-list ng-repeat="auteur in auteurs" id="page-list2">
      <ion-item id="page-list-item4">{{auteur}}</ion-item>
    </ion-list>
    <ion-list id="page-list3">
      <ion-item class="item-divider" id="page-list-item-divider2">Titres</ion-item>
    </ion-list>
    <ion-list ng-repeat="titre in titres" id="page-list4">
      <ion-item>{{titre}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
