  <ion-content>

    <div class="row">
      <div class="col">
        <label class="item item-select">
          <form  class="col" ng-submit="submitSearch(search, filter,api)">
          <div class="col">

              <input   class="item item-input" type="text" placeholder="Que recherchez vous?" ng-model="search">

          </div>
          <select ng-model="filter" class="large-select">
            <option value="all">  </option>
            <option value="parties">Auteurs/Compositeurs </option>
            <option  value="titles,subtitles">Chansons</option>
            <option value="performers">Interprètes</option>
          </select>
          </form>
        </label>

      </div>

    </div>

    <ion-spinner style="padding-left: 50%; float: center;" ng-show="charging" icon="spiral"></ion-spinner>


    <ion-list ng-show="isSong">
      <ion-item ng-repeat="song in answer | limitTo:numLimit">


        <i id="liked" class="ion-ios-star star" ng-click= "delFavorites(song.iswc, song.title)"
           ng-show="isLiked(song.iswc) && song.isInfo"></i>

        <i id="liked" ng-click= "addFavorites(song.iswc, song.title)"
           class="ion-ios-star-outline star" ng-show="!isLiked(song.iswc) && song.isInfo"></i>

        <i id="info" class="info ion-ios-information-outline"  ng-show="song.isInfo"></i>

        <div  id="link" class="elipse" ui-sref= "tab.musique({iswc: song.iswc, title:song.title})" ng-if="song.isInfo">
          {{song.title}}

        </div>

        <div  id="link" class="elipse" ng-if="!song.isInfo">
          {{song.title}}

        </div>

      </ion-item>
    </ion-list>


    <button style="border:none;"  ng-show="isPlus" class="button button-block button-light lighter" ng-click="printMore()">Afficher plus de résultats... </button>


    <ion-list ng-show="isConcert">
      <ion-item class="item-divider" id="page-list-item-divider1">Concerts</ion-item>
      <ion-item ng-repeat="item in concerts"
                item="item"
                ng-click="item.show = !item.show" class="item-remove-animate"
                ng-class="{'concertbackground' : item.show}">
        <p>
        <h3>{{ item.titre}}</h3><span class="right" ng-show="item.show">     {{item.date}}</span></p>
        <p ng-show="item.show">{{item.adresse}}</p>
        <div>
          <button id="page-button1" class="button button-planning" ng-show="item.show" ui-sref="tab.concertSearch">
            J'y vais !
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

