<ion-view>
  <ion-content>
  <div class="artist-background">
  </div>

    <div class="special-artist-background">
      <span class="ion-ios-arrow-left" ng-click="myGoBack()"></span>

      <div class="rightheader" >

        <div class="titleBlack"> {{name}} </div>
        <div class="subtitleBlack lighter"> Author/Compositeur</div>

      </div>
    </div>



    <ion-list ng-show="isSong">
      <ion-item class="item-divider" id="page-list-item-divider1">Morceaux</ion-item>
      <ion-item ng-repeat="song in answer | limitTo:numLimit">
        <i id="liked" class="ion-ios-star star" ng-click= "delFavorites(song.iswc, song.title)"
           ng-show="isLiked(song.iswc)"></i>

        <i id="liked" ng-click= "addFavorites(song.iswc, song.title)"
           class="ion-ios-star-outline star" ng-show="!isLiked(song.iswc)"></i>

        <i id="info" class="info ion-ios-information-outline"  ng-show="song.isInfo"></i>

        <div  id="link" class="elipse" ui-sref= "tab.musique({iswc: song.iswc, title:song.title})" ng-show="song.isInfo">
          {{song.title}}

        </div>

        <div  id="link" class="elipse" ng-show="!song.isInfo">
          {{song.title}}

        </div>
      </ion-item>
    </ion-list>
    <button ng-show="isPlus" class="button button-block button-light lighter" ng-click="printMore()">Afficher plus de résultats... </button>
    <ion-spinner style="padding-left: 50%; float: center;" ng-show="charging" icon="spiral"></ion-spinner>


  </ion-content>
</ion-view>
