<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="data.name">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="signup()">Sign up</button>
    <p>{{answer}}</p>
  </ion-content>
</ion-view>
