
  <ion-content>
    <div class="artist-background">
    </div>

    <div class="special-artist-background">
      <span class="ion-ios-arrow-left" ng-click="myGoBack()"></span>

      <div class="rightheader" >
        <div class="titleBlack"> {{title}} </div> </br>

      </div>
    </div>



    <ion-list>
      <ion-item class="item-divider" id="page-list-item-divider1">Auteurs/Compositeurs</ion-item>
      <ion-item ng-repeat="author in answer.composerAuthor">
        <i  class="ion-ios-star star" ng-click= "delFavoritesAuth(author)"
           ng-show="isLikedAuth(author)"></i>

        <i  ng-click= "addFavoritesAuth(author)"
           class="ion-ios-star-outline star" ng-show="!isLikedAuth(author)"></i>

        <div  id="link" class="elipse" ui-sref="tab.auteur({name: author})">
          {{author}}

        </div>
      </ion-item>
      </ion-list>
    <ion-list>
      <ion-item ng-show="isArtist" class="item-divider" id="page-list-item-divider2">Interprètes</ion-item>
      <ion-item ng-repeat="artist in answer.performer track by $index">
        <i  class="ion-ios-star star" ng-click= "delFavoritesArt(artist)"
           ng-show="isLikedArt(artist)"></i>

        <i  ng-click= "addFavoritesArt(artist)"
           class="ion-ios-star-outline star" ng-show="!isLikedArt(artist)"></i>

        <div  class="elipse" ui-sref="tab.artist({name: artist})">
          {{artist}}

        </div>
      </ion-item>


    </ion-list>
    <ion-spinner style="padding-left: 50%; float: center;" ng-show="chargingbeg" icon="spiral"></ion-spinner>

    <button ng-show="!isCharged && !charging" class="button button-full button-stable" ng-click="chargeConcerts(iswc)"> <span class="ion-ios-search"></span> &nbsp;&nbsp;Chercher des concerts
      &nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    <div ng-show="!isCharged && charging"  style="padding-left: 50%; float: center; padding-top:50px;">
      <ion-spinner icon="spiral"></ion-spinner>

    </div>




    <ion-list ng-show="isCharged">
      <ion-item class="item item-divider"> Concerts où ce morceau est annoncé
        <i class="ion-ios-search-strong icon-right" ng-click="openModal()" style="float: right; font-size: 130%"></i>
      </ion-item>
      <ion-item ng-repeat="item in concerts"
                ng-class-even="'concertbackground'" ng-class-odd="'concertbackground-odd'">
        <h3>{{item.title}}</h3><p><span class="right">      {{item.date |date:'medium':'+0000'}}</span></p>
        <p>{{item.location}}</p>
        <div>
          <button id="page-button1" class="button button-planning" ui-sref="tab.concertHome({cdeprog: item.cdeprog, title:item.title,date:item.date,location:item.location})">
           Lire plus
          </button>
          <button  class="button button-planning" ng-click="addPlanning(item.date.yyyymmdd(), item.location, item.title, item.cdeprog, item.id_bit); item.isInPlanning = true" ng-show="!item.isInPlanning" style="margin-left: 5%">
            Ajouter à mon planning
          </button>
          <button class="button button-planning" ng-click="removePlanning(item.cdeprog, item.id_bit); item.isInPlanning = false" ng-show="item.isInPlanning" style="margin-left: 5%">
            Retirer de mon planning
          </button>
        </div>
      </ion-item>

    </ion-list>

    <p ng-show="!isConcert && isCharged" style="padding-left: 40%; float: center; padding-top:50px;" class="lighter">Aucun résultat</p>



  </ion-content>

