<ion-view>
  <ion-content>


  <div class="artist-background">


  </div>

    <div class="special-artist-background">
      <span class="ion-ios-arrow-left" ng-click="myGoBack()"></span>

      <div class="rightheader" >

        <div class="titleBlack"> {{name}} </div>
        <div class="subtitleBlack lighter"> {{date}} </br> {{time}}</div>


      </div>
    </div>

    <ion-list ng-show="isSong">
      <ion-item class="item-divider" id="page-list-item-divider1">Morceaux</ion-item>
      <ion-item ng-repeat="song in songs">
        {{song.titre}}
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item class="item-divider" id="page-list-item-divider1">Concerts</ion-item>

      <ion-item ng-repeat="item in concerts"
                item="item"
                class="concertbackground">
        <p><h3>{{item.titre}}</h3><span class="right">      {{item.date}}</span></p>
        <p>{{item.venue}}</p>
        <div>
          <button id="page-button1" class="button button-planning" ng-click="goConcert()"> J'y vais !
          </button>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
