

<ion-view>


  <ion-content>



  <div class="concert-background">

    <span class="ion-chevron-left"></span>
    <div class="rightheader" style="color: #FFFFFF;">

          <h1>The Dumplings en concert</h1>
      <p>29 septembre 2016 à partir de 20h</p>
      <span class="ion-location">    </span>
      <p>La grande Hall </br> 211 avenue Jean Jaurès</p>

    </div>


        </br> </br>
        <a href="#" onclick="window.open('PagePlanning', '_system', 'location=yes'); return false;" id="concert-button1" style="font-weight:lighter;font-size:-15px;border-radius:200px 200px 200px 200px;" class="button button-light button-medium button-outline">Ajouter à mon planning</a>

        <span class="ion-ios-star-outline" </span>
        </br> </br>
  </div>


  </div>





            <div id="concert-markdown4" style="color:#000000;">
              <p> Titres</p>
            </div>
            <div class="item item-body" id="concert-list-item-container2">
              <div id="concert-markdown6" style="margin-top:0px;color:#000000;">
                <p>Auteur Liste Album</p>
              </div>
            </div>
            <div id="concert-markdown7" style="color:#000000;">
              </br>
              <p>Commentaires</p>
            </div>
            <div class="item item-body" id="concert-list-item-container4"></div>
            <form id="concert-form1" class="list">
              <label class="item item-input" id="concert-input1" name="comment">

                <input type="text" placeholder="Rédigez votre commentaire...">
                <button class="button"> Envoyer </button>
              </label>
            </form>



    </ion-content>
</ion-view>
