

<ion-view>


  <ion-content>

  <div class="artist-background">

    <span class="ion-chevron-left"></span>

    <div class="rightheader special-artist-background" style="color: #FFFFFF;">

          <h1> {{name}} </h1>
      <p> {{date}} </br> {{time}}</p>


    </div>


  </div>





    <ion-list id="page-list2">
      <ion-item class="item-divider" id="page-list-item-divider1">{{album1}}</ion-item>
      <ion-item collection-repeat="item in titres1">
        {{item}} <span class="ion-ios-star-outline colored-black"></span>
      </ion-item>


    </ion-list>




    <ion-list id="page-list3">
        <ion-item class="item-divider" id="page-list-item-divider2">{{album2}}</ion-item>

      <ion-item collection-repeat="com in titres2">
        {{com}} <span class="ion-ios-star-outline colored-black"></span>
      </ion-item>

    </ion-list>






  </ion-content>
</ion-view>
