# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

FollowZBeat/platforms/
FollowZBeat/plugins/
.idea/
FollowZBeat/node_modules/
FollowZBeat/npm-debug.log
