<html>
<header>
  <title>
    Home
  </title>
  <meta caharset="utf-8"/>
</header>
<body>
<strong>Welcome <%=name%></strong>
<a href='/signin'>Go to sign up page</a>
<a href = '/profile'>My profile</a>
<a href='/logout'>Logout</a>

<div>
  Add favorite
  <form action="/action/addfavorite" method="GET">
    <label>content_id</label><input type="text" name ="content"> <br>
    <label>User_id</label><input type ="text" name ="userid"><br>
    <input type = "submit" value = "add">
  </form>
</div>
</body>
</html>
