<html>
<header>
  <title>
    Home
  </title>
  <meta caharset="utf-8"/>
</header>
<body>
<strong>Welcome <%=name%></strong>
<a href='/signin'>Go to sign up page</a>
<a href = '/profile'>My profile</a>
<a href='/logout'>Logout</a>
</body>
</html>
