<!DOCTYPE html>
<html>
<head>
	<title>Authentification</title>
	<meta charset="utf-8">
</head>
<body>
<p>
  <form action="/local-reg" method="post">
    <label for = "name">Name</label><input type="text" name="name"><br>
    <label for ="email">Your email</label><input type="text" name="email"><br>
    <label for = "pwd">Password</label><input type="password" name="password"><br>
    <input type="submit" value="Sign Up">
  </form>
</p>
<p>
  <form action="/login" method="post">
    <label for ="email">Your email</label><input type="text" name="email"><br>
    <label for = "pwd">Password</label><input type="password" name="password"><br>
    <input type="submit" value="Login">
  </form>
</p>

</body>
</html>
