/*CSS A regarder: http://ionicframework.com/docs/components/#outlined-buttons */
.container {
  display: flex;
  justify-content:space-around;
  padding:10px;
}

.left {
  float: left;
  text-align: left;
  margin: 2px 10px;
  display: inline-block;
}

.right {
  float: right;
  text-align: left;
  margin: 2px 10px;
  display: inline-block;
}

.dropdrow-left {
  width: 50%;
  height: 30px;
  float: left;
  display: inline-block;

}

.search-right {
  float: right;
  text-align: left;
  width: 50%;
  display: inline-block;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

.platform-android .tabs {
  top: 0 !important;
}

.has-tabs-top {
  top: 49px !important; /*  height of the tabs */
}

.big-header {
  background: linear-gradient(-90deg, #C8503C, #FA654C);
  color: white;
  padding: 20px;
}

.big-header h3 {
  color: white;
}

.button-planning {
  text-align: left;
  border-radius: 42px 42px 42px 42px;
  background: rgba(256, 256, 256, 0.4);;
  color: rgba(256, 256, 256, 1);
}

.concertbackground {
  background-image: url('../img/concerta.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  padding-bottom: 10px;
  padding-left: 10px;
}




.concertbackground p {
  color: white;
}

.concertbackground span {
  color: white;
}

.concertbackground h3 {
  color: white;
}

.concertbackground-odd {
  background-image: url('../img/concertb.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  padding-bottom: 10px;
  padding-left: 10px;
}

.concertbackground-odd p {
  color: white;
}

.concertbackground-odd span {
  color: white;
}

.concertbackground-odd h3 {
  color: white;
}

/* CSS de la page "Concert" */

.concert-background {
  background-image: url('../img/concertab.jpg');

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 350px;
  padding: 30px;

}

.ion-ios-arrow-left {

  font-size: 40px;
  float: left;
  color: #000000;

}

.white {

  color: white;
  font-size: 40px;

}

h1,h2{
  color: #FFFFFF;
}

.rightheader {

  padding-left: 50px;
  padding-top: -20px;

}

.ion-location{

  font-size: 28px;
  float: left;

}
.ion-calendar {
  font-size: 28px;
}
/*CSS de la page Auteur*/

.artist-background {
  background-image: url('../img/thedumplings.jpg');

  background-size: cover;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;

  height: 120px;
  padding: 30px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);

  z-index: 1;

}

.special-artist-background {

  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  top: 40px;
  color: #000000;
  left: 15px;

}

.colored-black {
  color: #000000;
  font-size: 30px;

}

.item-divider {

  position: relative;

}

.list-concert {
  display: block;

}

.position-button {
  float: right;
  font-weight: lighter;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding-top: 5px;

}

.myform {
  float: left;
  width: 80%;
  padding-top: 20px;

}

.bottom-concert {
  height: 10%;
  padding-left: 20px;
}

.bottom-concert input {
}

.iconeperso {

  border-radius: 50%;
  background-color: #B22222;
  font-weight: bold;
  color: white;
  padding: 12px;
  padding-right: 15px;
  padding-left: 15px;

}

.lighter {
  font-weight: lighter;

}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.titleBlack {
  font-size: xx-large;
  line-height: 90%;;

}

/* CSS Map */

.scroll {
  height: 100%;
}

.map-container{
  width: 100%;
  height: 50%;
}

#map {
  width: 100%;
  height: 100%;
}

.container {
  height: 80px;

}

.large {
  width: 80%;

}

/* quick search css */
.search-header {
  margin: 10%;
}

.close-modal {
  margin-right: 8%;
  float: right;
  font-size: 30px;
}

.icon-search {
  float: left;
  font-size: 25px;
}

.quicksearch-bar {
  float: left;
  max-height: 20px;
  font-size: 25px;
  margin-left: 3%;

}



.form-container {
  width: 100%;
  padding-left:10%;
  margin: 0 auto;
  margin-top: 10%;
}

.form-container div {
  height: 40px;

}

.form-container span {
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;

}

.geolocalabel {
  margin-top: 15%;
  font-size: 18px;
}

.form-container input {
  float: left;
  margin-left: 10px;
}

.geolocalabel span {
  font-size: 16px;
  padding-top: 0;
  margin-bottom: 10px;
  margin-left: 5px;

}

.geolocalabel input {
  margin-top: 5px;
  margin-left: 0;
}

.searchbar {
  width: 50%;
}

.button-container {
  margin: 0 auto;
  width: 50%;
  margin-top: 20%;
  margin-left:40%;
}

.button-validate {
  text-align: center;
  border-radius: 42px 42px 42px 42px;
  background: rgba(54, 56, 74, 0.9);
  width: 100px;
  color: rgba(256, 256, 256, 1);
}

.info {
  font-size: 25px;
  text-align: left;
  float: right;
  padding-right: 20%;

}

.star {
  font-size: 25px;
  text-align: left;
  float: right;
}

.elipse {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;

}

.elipse-titre {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;

}
.input-search{
  width: 100%;
  padding: 0;
}

.large-select {
  width: 80%;
  height: 25px;
  display: inline-block;
}
.button-search-container{
  display: inline;
}
.search-container {
  display: inline-block;
  width: 100%;
}
.quick-search-container{
  margin: 0 auto;
  margin-top: 20%;
  height: 30px;
  width: 60%;
  border-bottom: 1px solid #aaa;
}

.label-search{
width: 100%;
}
.button-search{
  width: 18%;
  float: right;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  background: rgba(54, 56, 74, 0.9);
  color: rgba(256, 256, 256, 1);
}

.div-search{
  width: 100%;
}


ion-modal-view {
  opacity: .93;
}

label.month-select {
  width: 65%;
  margin-left: 10%;
  border-radius: 42px 42px 42px 42px;
  background: rgba(256, 256, 256, 0.4);
  color: rgba(256, 256, 256, 1);
}

.month-select input{
  color: rgba(256, 256, 256, 1);
  font-size: 16px;
}

.buttoncenter{
    position: center;

}

.charging{

    float: center;
    text-align: center;
    font-weight: lighter;
    width:100%;
}

.searchloupe{
     font-size: 25px;
     text-align: left;
     float: right;

}

.comment {
  padding: 20px;
}
.comment2{

  padding-left:20px;
   padding-right:20px;
  padding-top:5px;
 border-top:1px;
 border-style:solid;
 border-color:grey;
 }

.quicksearch{
  height:300px;


  background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1)), url('../img/map.png');

  background-size: cover;

  filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);

}


/*Modal view*/

{
  box-sizing: border-box;
}

.Modal-backdrop
{
 position: fixed;
 top: 0px;
 left: 0px;
 height:100%;
 width:100%;
 background: #000;
 z-index: 1;
 opacity: 0.5;
}

.Modal-holder
{
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: transparent;
  z-index: 2;
  padding: 30px 15px;
}
/*
8. Create the Confirm Modal’s Template
This template is for the actual modal box with the confirm message in it. The following code goes in modals/confirm.html:

<div class="Modal-box">
  Are you sure you want to do that?
  <button>Yes</button>
</div>
Styling for the Modal-box:
*/
.Modal-box
{
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: relative;
}

@media screen and (min-width: 992px)
{
  .Modal-box
  {
    width: 50%;
    padding: 30px;
  }
}

.Modal-box
{
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
  position: relative;
}

@media screen and (min-width: 992px)
{
  .Modal-box
  {
    width: 50%;
    padding: 30px;
  }
}

.ion-calendar{

color:white;
  font-size: 40px;
text-align:right;
}


.monplanning{
padding-left:15%;

}

.concert-checkbox{
  width: 100%;
  margin-left: 14%;
  margin-top: 1.8%;
  margin-bottom: 0;
}

.search-label{
  width: 100%
}
