/*CSS A regarder: http://ionicframework.com/docs/components/#outlined-buttons */


.left {
  float: left;
  text-align: left;
  margin: 2px 10px;
  display: inline-block;
}
.right {
  float: right;
  text-align: left;
  margin: 2px 10px;
  display: inline-block;
}
.dropdrow-left{
  width: 50%;
  height: 30px;
  float:left;
  display: inline-block;

}
.search-right{
  float: right;
  text-align: left;
  width: 50%;
  display: inline-block;
  background-color: white;
  border-radius:5px 5px 5px 5px;
}



.platform-android .tabs { top: 0 !important; }
.has-tabs-top {
  top: 49px !important; /*  height of the tabs */
}

.big-header {
  background: linear-gradient(-90deg, #C8503C , #FA654C);
  color: white;
  padding: 20px;
}
.big-header h3{
  color: white;
}

.button-planning{
  text-align:left;
  border-radius:42px 42px 42px 42px;
  background: rgba(256,256,256,0.4);;
  color:rgba(256,256,256,1);
}
.concertbackground{
  background-image: url('../img/concerta.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  padding-bottom: 10px;
  padding-left:10px;
}

.concertbackground p{  color: white;  }
.concertbackground span{  color: white;  }
.concertbackground h3 {  color: white;  }

.concertbackground-odd{
  background-image: url('../img/concertb.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  padding-bottom: 10px;
  padding-left:10px;
}

.concertbackground-odd p{  color: white;  }
.concertbackground-odd span{  color: white;  }
.concertbackground-odd h3 {  color: white;  }
/* CSS de la page "Concert" */

.concert-background {
                    background-image: url('../img/concertab.jpg');


                   background-size: cover;
                   -webkit-background-size: cover;
                       -moz-background-size: cover;
                   height: 350px;
                    padding: 30px;

                }

.star {
                 font-size: 25px;
                 text-align:left;
                 float:right;

                }

.ion-ios-arrow-left{

              font-size: 40px;
              float:left;
              color: #000000;


}

.white{

color: white;
font-size: 40px;

}

h1{

color: #FFFFFF;

}

.rightheader{

             padding-left:50px;
             padding-top: -20px;

}


.ion-location{


            font-size: 28px;
              float:left;


}

/*CSS de la page Auteur*/

.artist-background {
                    background-image: url('../img/thedumplings.jpg');

                   background-size: cover;
                   left: 0;
                   right: 0;
                   z-index: 1;
                   display: block;

                   height: 120px;
                    padding: 30px;
                    -webkit-filter: blur(5px);
                    -moz-filter: blur(5px);
                    -o-filter: blur(5px);
                    -ms-filter: blur(5px);


                  z-index: 1;

                }


.special-artist-background {

                        position: fixed;
                        left: 0;
                        right: 0;
                        z-index: 9999;
                        top: 40px;
                         color: #000000;
                         left: 15px;



                }


.colored-black {
        color: #000000;
        font-size: 30px;



}

.item-divider{

position: relative;

}


.list-concert{
  display: block;


}

.position-button{
  float:right;
  font-weight:lighter;
 background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
  padding-top: 5px;

}

.myform{
  float:left;
  width: 80%;
  padding-top:20px;



}

.bottom-concert{

padding-left:20px;
}


.iconeperso{

border-radius: 50%;
background-color: #B22222;
font-weight: bold;
color: white;
padding: 12px;
padding-right:15px;
padding-left:15px;

}


.lighter{
font-weight: lighter;

}


body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}


.titleBlack{
    font-size: xx-large;
    ;


}

/* CSS Map */

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 50%;
}


.container{
height: 80px;

}

.large{
width: 80%;

}

/* quick search css */
.search-header{
  margin: 10%;
}
.close-modal{
  margin-right: 8%;
  float: right;
  font-size: 30px;
}
.icon-search{
  float: left;
  font-size: 25px;
}
.quicksearch-bar{
  float: left;
  max-height: 20px ;
  font-size: 25px;

}
.search-container{
  margin: 0 auto;
  margin-top: 20%;
  height: 30px;
  width: 60%;
  border-bottom: 1px solid #aaa;
}
.form-container{
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
}
.form-container div{
  height: 40px;

}
.form-container span{
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding-top:10px;


}
.form-container input{
  float: left;
  margin-left: 10px;
}

