/* Empty. Add your own CSS if you like */
.left {
  float: left;
  text-align: left;
  margin: 2px 10px;
  display: inline-block;
}
.right {
  float: left;
  text-align: left;
  margin: 2px 10px;
  display: inline-block;
}
.container{
  display: inline-block;
}

.big-header {
  background: linear-gradient(-90deg, #C8503C , #FA654C);
  color: white;
  padding: 20px;
}
.big-header h3{
  color: white;
}

.button-planning{
  text-align:left;
  border-radius:42px 42px 42px 42px;
  background: rgba(256,256,256,0.4);;
  color:rgba(256,256,256,1);
}

/* CSS de la page "Concert" */

.concert-background {
                    background-image: url('../img/concerta.jpg');

                   background-size: cover;
                   -webkit-background-size: cover;
                       -moz-background-size: cover;
                   height: 350px;
                    padding: 30px;




                }

.ion-ios-star-outline {
                 font-size: 40px;
                 text-align:left;
                 float:right;
                 color: #FFFFFF;
                }

.ion-chevron-left{

              font-size: 40px;
              float:left;
              color: #FFFFFF;


}

h1{

color: #FFFFFF;

}

.rightheader{

             padding-left:50px;
             padding-top: -20px;

}


.ion-location{


            font-size: 28px;
              float:left;


}

/*CSS de la page Artist*/

.artist-background {
                    background-image: url('../img/thedumplings.jpg');

                   background-size: cover;
                   left: 0;
                   right: 0;
                   z-index: 1;
                   /* On indique l'image de fond et les dimensions qu'elle occupe */
                   display: block;

                   height: 120px;
                    padding: 30px;
                    -webkit-filter: blur(5px);
                    -moz-filter: blur(5px);
                    -o-filter: blur(5px);
                    -ms-filter: blur(5px);


                  z-index: 1;

                }


.special-artist-background {

                        position: fixed;
                        left: 0;
                        right: 0;
                        z-index: 9999;
                        position: fixed;



                }


.colored-black {
        color: #000000;
        font-size: 30px;



}
